*~
*.test
/Gopkg.lock
/Gopkg.toml
/vendor/
*.swp
.idea/
*.vim
*.log
/logs
sql/my_dnn_model
tmp_estimator_name
.DS_Store
coverage.out
.vscode
.cache
*.pb.go
!pkg/log
build
target
?
ParserGrpc.java
ParserProto.java
flymake_*
.test_sqlflow_env
mysql-inited
.classpath
.project
.settings/
.factorypath
