- repo: git://github.com/dnephin/pre-commit-golang
  rev: v0.3.3
  hooks:
    - id: go-fmt
    - id: go-lint
    - id: validate-toml
    - id: no-go-testing
- repo: https://github.com/wangkuiyi/google-style-precommit-hook
  rev: v0.1.1
  hooks:
    - id: google-style-java
      pass_filenames: false # https://github.com/sql-machine-learning/sqlflow/issues/1152#issuecomment-551325589
- repo: local
  hooks:
    - id: copyright_checker
      name: copyright_checker
      entry: python ./scripts/pre-commit/copyright.py
      language: system
      files: \.(go|py|sh)$
- repo: local
  hooks:
    - id: documentation_checker
      name: documentation_checker
      entry: bash ./scripts/pre-commit/docgen.sh
      language: system
-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.29.0
    hooks:
    -   id: yapf
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
    -   id: isort
- repo: local
  hooks:
      - id: google_style_java
        name: google_style_java
        entry: bash ./scripts/pre-commit/google_java_format.sh
        language: system
        files: \.(java)$
